.background{
    background: linear-gradient(to bottom left, rgba(50,208,233,1), rgba(27,266,137,1));
}


.item{
margin-bottom:10px;
background:rgb(242, 245, 245);
opacity:0.51 ;
border-radius: 32px;
.text-input,{
    color:rgb(14, 8, 8);

    
}
}
.button{
color:rgb(14, 8, 8);
opacity: 0.51;
font-size:20px;
}

