
#welcome{
    background:linear-gradient(#485cb6,rgba(118, 75, 162, 1));
}
#staticquote{
    padding-left: 20px;
    padding-top : 30px;
    opacity: 0.7;
    color: linen;
    
}
.bigquote{
    color:white;
padding-top:0px;
padding-left: 30px;
font-family: 'Economica', sans-serif;
opacity:0.8;
font-size:30px;
}